Repository az-digital/az_quickstart, pull requests merged in 2021-11, with the labels that each got.

#1115 Closes #1064 - Fix reorder people
  modules/custom/az_person/config/install/views.view.az_person.yml
  modules/custom/az_person/config/install/views.view.az_reorder.yml
Labels: bug, backport, high priority

#913 Closes #654: On presave, check if there is an overridden thumb, if there is replace it on the video
  modules/custom/az_media/az_media.module
  modules/custom/az_media/config/install/core.entity_form_display.media.az_remote_video.default.yml
  modules/custom/az_media/config/install/field.field.media.az_remote_video.field_media_az_image.yml
Labels: good first issue, hacktoberfest-accepted, backport, www gap, high priority

#1059 Issue/1044 Allow site builders to customize text on media paragraphs through the UI.
  modules/custom/az_paragraphs/az_paragraphs_text_media/az_paragraphs_text_media.module
  modules/custom/az_paragraphs/az_paragraphs_text_media/config/install/core.entity_view_display.paragraph.az_text_media.default.yml
  modules/custom/az_paragraphs/az_paragraphs_text_media/js/az_paragraphs_az_text_media_youtube.es6.js
  modules/custom/az_paragraphs/az_paragraphs_text_media/js/az_paragraphs_az_text_media_youtube.js
  modules/custom/az_paragraphs/az_paragraphs_text_media/templates/field--paragraph--az-text-media.html.twig
  modules/custom/az_paragraphs/az_paragraphs_text_media/templates/paragraph--az-text-media--default.html.twig
  modules/custom/az_paragraphs/config/schema/az_paragraphs.schema.yml
  modules/custom/az_paragraphs/css/az_paragraphs_az_text_media.css
  modules/custom/az_paragraphs/css/az_paragraphs_widget.css
  modules/custom/az_paragraphs/src/Plugin/Field/FieldFormatter/AZBackgroundMediaFormatter.php
  modules/custom/az_paragraphs/src/Plugin/paragraphs/Behavior/AZTextWithMediaParagraphBehavior.php
Labels: enhancement, backport

#1120 Update README.md
  modules/custom/az_migration/README.md
Labels: documentation, backport, migration

#1108 Closes: #1005 Refactoring captions on news to use image caption
  composer.json
  modules/custom/az_core/config/install/field.storage.node.field_az_caption.yml
  modules/custom/az_demo/data/az_demo_image_file.json
  modules/custom/az_demo/data/az_demo_news_node.json
  modules/custom/az_demo/migrations/az_demo_image_file.yml
  modules/custom/az_migration/migrations/migrate_plus.migration.az_node_news.yml
  modules/custom/az_news/az_news.install
  modules/custom/az_news/az_news.install.php
  modules/custom/az_news/config/install/core.entity_form_display.node.az_news.default.yml
  modules/custom/az_news/config/install/core.entity_view_display.node.az_news.az_card.yml
  modules/custom/az_news/config/install/core.entity_view_display.node.az_news.az_marquee.yml
  modules/custom/az_news/config/install/core.entity_view_display.node.az_news.az_media_list.yml
  modules/custom/az_news/config/install/core.entity_view_display.node.az_news.az_medium_media_list.yml
  modules/custom/az_news/config/install/core.entity_view_display.node.az_news.az_minimal_media_list.yml
  modules/custom/az_news/config/install/core.entity_view_display.node.az_news.default.yml
  modules/custom/az_news/config/install/core.entity_view_display.node.az_news.teaser.yml
  modules/custom/az_news/config/install/field.field.node.az_news.field_az_caption.yml
  modules/custom/az_seo/config/quickstart/core.entity_form_display.node.az_news.default.yml
Labels: enhancement, hacktoberfest-accepted, backport

#1126 Closes #1122 Updates editorial workflow to allow published to published
  config/optional/workflows.workflow.editorial.yml
Labels: enhancement, backport

#1068 Closes #1066: Add larger space around content options to paragraph types
  modules/custom/az_paragraphs/src/Plugin/paragraphs/Behavior/AZTextWithBackgroundParagraphBehavior.php
  modules/custom/az_paragraphs/src/Plugin/paragraphs/Behavior/AZTextWithMediaParagraphBehavior.php
Labels: enhancement, hacktoberfest-accepted, backport

#1125 Closes #1065: Added migration for Quickstart menu links. Closes #1127: Added marquees to flexible page migration.
  composer.json
  modules/custom/az_migration/README.md
  modules/custom/az_migration/migrations/migrate_plus.migration.az_menu_links.yml
  modules/custom/az_migration/migrations/migrate_plus.migration.az_node_flexible_page.yml
  modules/custom/az_migration/src/Plugin/migrate/process/MigratedPathLookup.php
Labels: enhancement, backport, migration

#1148 Closes #1143 Migrated users are getting added as Administrators instead of Authenticated
  modules/custom/az_migration/migrations/migrate_plus.migration.az_user.yml
Labels: bug, backport, migration

#1141 Closes #1123 Migrate Redirects
  modules/custom/az_migration/migrations/az_redirects.yml
Labels: backport, migration

#1124 Closes #1083 Ensure paths are migrated for all content types.
  modules/custom/az_migration/migrations/migrate_plus.migration.az_node_carousel.yml
  modules/custom/az_migration/migrations/migrate_plus.migration.az_node_event.yml
  modules/custom/az_migration/migrations/migrate_plus.migration.az_node_flexible_page.yml
  modules/custom/az_migration/migrations/migrate_plus.migration.az_node_news.yml
  modules/custom/az_migration/migrations/migrate_plus.migration.az_node_person.yml
Labels: enhancement, backport, migration

#1140 Closes #1139: Fixes horizontal scrollbars on full-width paragraphs.
  modules/custom/az_paragraphs/az_paragraphs.libraries.yml
  modules/custom/az_paragraphs/css/az_paragraphs_full_width.css
  modules/custom/az_paragraphs/js/az_paragraphs_full_width.es6.js
  modules/custom/az_paragraphs/js/az_paragraphs_full_width.js
Labels: bug, backport

#1130 Closes #1128: Migration improvements for source paragraph items containing field collections.
  modules/custom/az_migration/migrations/migrate_plus.migration.az_paragraph_card_deck.yml
  modules/custom/az_migration/migrations/migrate_plus.migration.az_paragraph_carousel.yml
  modules/custom/az_migration/migrations/migrate_plus.migration.az_paragraph_panel_group.yml
  modules/custom/az_migration/src/Plugin/migrate/process/ParagraphsMapFieldPropertyValue.php
  modules/custom/az_migration/src/Plugin/migrate/process/ParagraphsUpdateMediaCaption.php
  modules/custom/az_migration/src/Plugin/migrate/source/AZParagraphsItem.php
Labels: bug, backport, migration

#1155 Closes #1154: Remove problematic role mapping from az_user migration.
  modules/custom/az_migration/migrations/migrate_plus.migration.az_user.yml
Labels: bug, backport, migration
